.icon-tabler-menu-2 {
  color: var(--color1); 
}

.color-light {
  color: var(--color6);
}

.blank {
  height: 20px;
  width: 100%;
}

.separator {
  opacity: .5;
  height: 0.5px;
  width: 100%;
  background-color: var(--color6);
  margin-top: 1rem;
}

.separator-dark {
  opacity: .7;
  height: 0.5px;
  width: 100%;
  background-color: var(--color4);
  margin-top: 1rem;
}

.p-article {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  width: 220px;
}

.b-article {
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 2rem;
  border: thin solid var(--color6);
  padding: .2rem .8rem;
  border-radius: 8px 0 8px 0;
}

.title {
  text-align: center;
}